{% extends 'base.html' %}
{% block title %}General{% endblock %}
{% block scripts %}
{{ js_resources|indent(4)|safe }}
{{ css_resources|indent(4)|safe }}
{{ script|indent(4)|safe }}
{% endblock %}
{% block sidebar %}
<ul class="list-unstyled components mb-5">
    <li class="active">
        <a href="{{ url_for('index') }}"><span class="fa fa-home mr-3"></span>Situatia generala</a>
    </li>
    <li>
        <a href="{{ url_for('predictions') }}"><span class="fa fa-user mr-3"></span>Predictii</a>
    </li>
    <li>
        <a href="{{ url_for('sources') }}"><span class="fa fa-sticky-note mr-3"></span> Surse</a>
    </li>
    <li>
        <center>
            Updatat: <b>{{ last_updated }}</b>
        </center>
    </li>
</ul>
{% endblock %}
{% block content %}
    {{ div|indent(4)|safe }}
{% endblock %}
